fieldset  {
    width: 50%;
    margin: auto;
}
.tab{
    border-collapse: collapse;
    margin: 0 auto; 
      font-family: Arial;
}

.tab td, th{
    border : 1px solid gray;
    padding: 10px 15px;
    font-family: Arial;
}

.tab tr:nth-child(2n){
    background-color: white;
    font-family: Arial;
}

.tab tr:nth-child(2n + 1){
    background-color: graytext;
    font-family: Arial;
}
.bnupdate {
    background-color: #4CAF50; /* Green */
    border: none;
    color: grey;
    padding: 15px 32px;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.bndelete {
    background-color: coral; /* Green */
    border: none;
    color: grey;
    font-family: Arial;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
confirmation-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}


